/*
 * @see https://github.com/Rudchyk/tooltip-messages
 * Author: Rudchyk.Sergii
 */
body { padding: 0 4em 4em; margin: 0; font: 13px/1.8 Helvetica; color: #444; }
a { text-decoration: none; }
.main{
	width: 600px;
	margin: auto;
	padding: 160px 0; 
}
.field{
	height: 20px;
}
.m50{
	margin-bottom: 100px;
}
.none{
	visibility: hidden;
	display: block!important;
}
.messageTip{
	background: #000;
	border-radius: 5px;
	color: #fff;
	padding: 0 5px;
	font-size: 12px;
	position: relative;
}
.messageTip.elMessage-left{
	margin-left: -5px;
}
.messageTip.elMessage-right{
	margin-left: 10px;
}
.messageTip.elMessage-top{
	margin-top: -5px;
}
.messageTip.elMessage-bottom{
	margin-top: 10px;
}
.up{
	cursor: pointer;
}