/*
 * @see https://github.com/Rudchyk/tooltip-messages
 * Author: Rudchyk.Sergii
 */
body { padding: 0 4em 4em; margin: 0; font: 13px/1.8 Helvetica; color: #444; }
a { text-decoration: none; }
.main{
	width: 600px;
	margin: auto;
	padding: 160px 0; 
}
.customForm{
	text-align: center;
}
.field{
	height: 40px;
}
.field2{
	height: 20px;
	width: 50px
}
.field3{
	height: 100px;
	width: 250px;
}
.m50{
	margin-bottom: 100px;
}
/*valid style*/
.valid-wrapper{
	position: relative;
	display: inline-block;
}
.valid-massege{
	font-size: 1em;
	color: #fff;
	text-shadow: 1px 1px 0 rgba(0,0,0,.5);
	background: #f34c4c;
	box-shadow: 2px 2px 3px rgba(0,0,0,.5);
	position: absolute;
	width: 150px;
	/*white-space: nowrap;*/
	z-index: 1000;	
	text-align: left;
	line-height: 1.2;
}
.valid-massege:before{
	content: '';
	position: absolute;
	border: 10px solid transparent;	
}
.valid-massege.tooltip-left{
	right: 100%;
	margin-right: 10px;
}
.valid-massege.tooltip-left:before{
	left: 100%;
	border-left-color: #f34c4c;	
	top: 50%;
	margin-top: -10px;	
}
.valid-massege.tooltip-right{
	left: 100%;
	margin-left: 10px;
}
.valid-massege.tooltip-right:before{
	right: 100%;
	border-right-color: #f34c4c;
	top: 50%;
	margin-top: -10px;	
}
.valid-massege.tooltip-top{
	bottom: 100%;
	margin-bottom: 10px;
}
.valid-massege.tooltip-top:before{
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-top-color: #f34c4c;	
}
.valid-massege.tooltip-bottom{
	top: 100%;
	margin-top: 10px;
}
.valid-massege.tooltip-bottom:before{
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
	border-bottom-color: #f34c4c;	
}
/*end valid style*/
.tooltip-wrapper{
	position: relative;
	display: inline-block;
}
.tooltip-wrapper:hover .tooltip-massege{
	display: block;
}
.tooltip-massege{
	font-size: 1em;
	color: #fff;
	background: #000;
	position: absolute;
	white-space: nowrap;
	z-index: 1000;	
	text-align: center;
	line-height: 1.2;
	display: none;
}
.tooltip-massege:before{
	content: '';
	position: absolute;
	border: 5px solid transparent;	
}
.tooltip-massege.tooltip-top{
	bottom: 100%;
	margin-bottom: 5px;
}
.tooltip-massege.tooltip-top:before{
	top: 100%;
	left: 50%;
	margin-left: -10px;
	border-top-color: #000;	
}