@import "compass/css3";
@import "compass/typography/vertical_rhythm";

@mixin adjust-font-size-to($to-size, $lines: lines-for-font-size($to-size), $from-size: $base-font-size) {
    @if not $relative-font-sizing and $from-size != $base-font-size {
        @warn "$relative-font-sizing is false but a relative font size was passed to adjust-font-size-to";
    }
    font-size: $font-unit * $to-size / $from-size;
}

$experimental-support-for-svg: true;
$base-font-family: "Trebuchet MS", Helvetica, sans-serif;
// $base-font-size: 16px;
$base-font-color: #444;
$base-link-color: #287fc3;
$standard: 960px;
$footer-height: 100px;
$field-height: 30px;